<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352183354282-op354s42rltbg7u0n7q6vdpfokq26sns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352183354282-op354s42rltbg7u0n7q6vdpfokq26sns</string>
	<key>API_KEY</key>
	<string>AIzaSyBa3R8zjlMx2wTzPq6S4_jXqhtOgomgJJY</string>
	<key>GCM_SENDER_ID</key>
	<string>352183354282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alfienity.uplifthings</string>
	<key>PROJECT_ID</key>
	<string>uplifthings-test</string>
	<key>STORAGE_BUCKET</key>
	<string>uplifthings-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352183354282:ios:acf98b681a782f7cbe21d3</string>
</dict>
</plist>